<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value="https://api.skylight.upskill.io/"/>
    <add key="MqttUrl" value="mqtt.skylight.upskill.io"/>
    <add key="UserId" value="<user id>"/>
    <add key="Username" value="<user name>"/>
    <add key="Password" value="<password>"/>
    <add key="Domain" value="<domain>"/>
    <add key="Group" value="<group>"/>
    <add key="LogConfigFile" value="<log file config dir>"/>
  </appSettings>
</configuration>